@page
@using Microsoft.AspNetCore.Http
@model IndexModel
@{
    ViewData["Title"] = "TODO List";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<h1>TODO</h1>
<hr />

@*New Item Form*@
<form method="post">
    <div class="row g-2">
        <div class="col-auto">
            <button type="submit" asp-page-handler="CreateTodoItem" class="btn btn-primary" id="btnCreateTodoItem">&#10010;</button>
        </div>
        <div class="col-auto">
            <input asp-for="TodoItem.Title" class="form-control" style="width:200%; margin-bottom:5px;" placeholder="Add a title"/>
            <span asp-validation-for="TodoItem.Title" class="text-danger"></span>
            <input asp-for="TodoItem.Details" class="form-control" style="width:200%; margin-bottom:5px;" placeholder="Add some details" />
            <span asp-validation-for="TodoItem.Details" class="text-danger"> </span>
        </div>
        <div class="btn-group-sm btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary" style="background-color:@Model.Purple; color:black">
                <input type="radio" asp-for="TodoItem.Color" value="@Model.Purple" id="purple" autocomplete="off">
                Purple
            </label>
            <label class="btn btn-secondary" style="background-color:@Model.Blue; color:black">
                <input type="radio" asp-for="TodoItem.Color" value="@Model.Blue" id="blue" autocomplete="off">
                Blue
            </label>
            <label class="btn btn-secondary" style="background-color:@Model.Green; color:black">
                <input type="radio" asp-for="TodoItem.Color" value="@Model.Green" id="green" autocomplete="off">
                Green
            </label>
            <label class="btn btn-secondary" style="background-color:@Model.Yellow; color:black">
                <input type="radio" asp-for="TodoItem.Color" value="@Model.Yellow" id="yellow" autocomplete="off" checked>
                Yellow
            </label>
            <label class="btn btn-secondary" style="background-color:@Model.Orange; color:black">
                <input type="radio" asp-for="TodoItem.Color" value="@Model.Orange" id="orange" autocomplete="off">
                Orange
            </label>
            <label class="btn btn-secondary" style="background-color:@Model.Red; color:black">
                <input type="radio" asp-for="TodoItem.Color" value="@Model.Red" id="red" autocomplete="off">
                Red
            </label>
        </div>
    </div>
</form>
<hr />

@*Filters*@
<div class="btn-group gradient-buttons" id="btn-filters">
    <form method="post">
        <input type="checkbox" hidden asp-for="FilterAll" checked/>
        @if (HttpContext.Session.GetInt32("_FilterAll") == 1)
        {
            <button type="submit" class="btn btn-primary" asp-page-handler="FilterTodoItems" />
        }
        else
        {
            <button type="submit" class="btn btn-outline-primary" asp-page-handler="FilterTodoItems" />
        }
        All
    </form>
    <form method="post">
        <input type="checkbox" hidden asp-for="FilterComplete" checked />
        @if (HttpContext.Session.GetInt32("_FilterComplete") == 1)
        {
            <button type="submit" class="btn btn-primary" asp-page-handler="FilterTodoItems" />
        }
        else
        {
            <button type="submit" class="btn btn-outline-primary" asp-page-handler="FilterTodoItems" />
        }
        Complete
    </form>
    <form method="post">
        <input type="checkbox" hidden asp-for="FilterIncomplete" checked />
        @if (HttpContext.Session.GetInt32("_FilterIncomplete") == 1)
        {
            <button type="submit" class="btn btn-primary" asp-page-handler="FilterTodoItems" />
        }
        else
        {
            <button type="submit" class="btn btn-outline-primary" asp-page-handler="FilterTodoItems" />
        }
        Incomplete
    </form>
</div>

@*Todo Item Cards*@
<div class="row-cols-md-3 row">
    @foreach (var item in Model.TodoItems)
    {
        <div class="card card-todo @string.Format("fComplete-"+ item.Complete)" style="background-color:@item.Color">
            @*Edit Card*@
            <div style="display:none" class="card-todo-edit" id="@string.Format("TodoEdit" + item.Id)">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="TodoItem.Id" value="@item.Id"/>
                    <input type="hidden" asp-for="TodoItem.Complete" value="@item.Complete"/>
                    <input type="hidden" asp-for="TodoItem.CreationDate" value="@item.CreationDate"/>
                    @*Title*@
                    <div>
                        <input asp-for="TodoItem.Title" class="form-control m-1" value="@item.Title" />
                        <span asp-validation-for="TodoItem.Title" class="text-danger"></span>
                    </div>
                    @*Details*@
                    <div>
                        <input asp-for="TodoItem.Details" class="form-control m-1" value="@item.Details"/>
                        <span asp-validation-for="TodoItem.Details" class="text-danger"> </span>
                    </div>
                    @*Color Picker*@
                    <div class="btn-group-sm btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary" style="background-color:@Model.Purple; color:black">
                            @if (item.Color == Model.Purple)
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Purple" id="purple" autocomplete="off" checked>
                            }
                            else
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Purple" id="purple" autocomplete="off">
                            }
                            Purple
                        </label>

                        <label class="btn btn-secondary" style="background-color:@Model.Blue; color:black">
                            @if (item.Color == Model.Blue)
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Blue" id="blue" autocomplete="off" checked>
                            }
                            else
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Blue" id="blue" autocomplete="off">
                            }
                            Blue
                        </label>

                        <label class="btn btn-secondary" style="background-color:@Model.Green; color:black">
                            @if (item.Color == Model.Green)
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Green" id="green" autocomplete="off" checked>
                            }
                            else
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Green" id="green" autocomplete="off">
                            }
                            Green
                        </label>

                        <label class="btn btn-secondary" style="background-color:@Model.Yellow; color:black">
                            @if (item.Color == Model.Yellow)
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Yellow" id="yellow" autocomplete="off" checked>
                            }
                            else
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Yellow" id="yellow" autocomplete="off">
                            }
                            Yellow
                        </label>

                        <label class="btn btn-secondary" style="background-color:@Model.Orange; color:black">
                            @if (item.Color == Model.Orange)
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Orange" id="orange" autocomplete="off" checked>
                            }
                            else
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Orange" id="orange" autocomplete="off">
                            }
                            Orange
                        </label>

                        <label class="btn btn-secondary" style="background-color:@Model.Red; color:black">
                            @if (item.Color == Model.Red)
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Red" id="red" autocomplete="off" checked>
                            }
                            else
                            {
                                <input type="radio" asp-for="TodoItem.Color" value="@Model.Red" id="red" autocomplete="off">
                            }
                            Red
                        </label>
                    </div>
                    <hr />
                    @*Save Button*@
                    <div class="btn-group gradient-buttons">
                        <button type="submit" asp-page-handler="EditTodoItem" class="btn btn-success" id="buttonSaveTodoItem">Save</button>
                    </div>
                </form>
            </div>
            @*Display*@
            <div class="card-todo-display" id="@string.Format("TodoDisplay" + item.Id)">
                <form method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <button type="submit" class="btn btn-light border-0" style="width:100%; background-color:transparent;" asp-page-handler="CompleteTodoItem" asp-for="TodoItem.Complete">
                        @*Title*@
                        <h5>
                            @if (item.Complete)
                            {
                                <s>@item.Title</s>
                            }
                            else
                            {
                                @item.Title
                            }
                        </h5>
                        @*Details*@
                        <div class="text-secondary small">
                            @if (item.Complete)
                            {
                                <s style="margin:0px">- @item.Details</s>
                            }
                            else
                            {
                                <p style="margin:0px">- @item.Details</p>
                            }
                        </div>
                    </button>
                </form>
                <hr />
                <div class="row-cols-md-2">
                    <div class="btn-group gradient-buttons row-cols-md-3">
                        @*Edit Button*@
                        <div>
                            <button onclick="EditTodoItem(@item.Id)" class="btn btn-warning" id="btnEditTodoItem">&#9998;</button>

                        </div>
                        @*Delete Button*@
                        <div>
                            <form method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" asp-page-handler="DeleteTodoItem" class="btn btn-danger" id="btnDeleteTodoItem">&#10008;</button>
                            </form>
                        </div>
                    </div>
                    @*Lifetime Tracker*@
                    <div class="text-secondary small text-right">
                        @Model.TimeAlive(item.CreationDate)
                    </div>
                </div>
            </div>
        </div>
    }
</div>
