@page
@model IndexModel
@{
    ViewData["Title"] = "TODO List";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<h1>TODO</h1>
<hr />

<form method="post">
    <div class="form-group">
        <input asp-for="TodoItem.Title" class="form-control"/>
        <span asp-validation-for="TodoItem.Title" class="text-danger"></span>
        <button type="submit" asp-page-handler="CreateTodoItem" class="btn btn-primary" id="btnCreateTodoItem">&#10010;</button>
    </div>
</form>

<div class="row-cols-md-3 row">
    @foreach (var item in Model.TodoItems)
    {
        <div class="card">
            <h5>
                @if (item.Complete)
                {
                    <s>@item.Title</s>
                }
                else
                {
                    @item.Title
                }
            </h5>
            <div class="text-secondary small">
                Details
            </div>
            <hr />
            <div class="row-cols-md-2">
                <div class="btn-group gradient-buttons row-cols-md-3">
                    <div>
                        @if (item.Complete)
                        {
                            <form method="post">
                                <label class="form-check-label">
                                    <input type="hidden" class="form-check-label" name="id" value="@item.Id" />
                                    <button type="submit" asp-page-handler="CompleteTodoItem" class="btn btn-success" asp-for="TodoItem.Complete">&#x2713;</button>
                                </label>
                            </form>
                        }
                        else
                        {
                            <form method="post">
                                <label class="form-check-label">
                                    <input type="hidden" class="form-check-label" name="id" value="@item.Id" />
                                    <button type="submit" asp-page-handler="CompleteTodoItem" class="btn btn-outline-secondary" asp-for="TodoItem.Complete">&mdash;</button>
                                </label>
                            </form>
                        }
                    </div>
                    <div>
                        <form method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" asp-page-handler="EditTodoItem" class="btn btn-warning" id="btnEditTodoItem">&#9998;</button>
                        </form>
                    </div>
                    <div>
                        <form method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" asp-page-handler="DeleteTodoItem" class="btn btn-danger" id="btnDeleteTodoItem">&#10008;</button>
                        </form>
                    </div>
                </div>
                <div class="text-secondary small text-right">
                    @Model.TimeAlive(item.CreationDate)
                </div>
            </div>
        </div>
    }
</div>
